@page
@model MapModel
@{
    ViewData["Title"] = "Privacy Policy";
    var locations = await Model.DataProvider.GetDisposalLocationsAsync(10);
}

<div class="row">
    <div class="col-3 shadow mb-5 pl-4 bg-white rounded">
        <form>
            <div class="form-group">
                <input class="form-control filter-input" id="what" aria-describedby="whatHelp" placeholder="Co chci třídit?">
                <input class="form-control filter-input" id="where" aria-describedby="whereHelp" placeholder="Kde chci třídit?">
            </div>
        </form>
        <div>
            <div class="chip">
                Textil
                <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
            <div class="chip">
                Papír
                <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
        </div>
        <hr />
        <h3 class="filter-label">Typy odpadu</h3>
        <ul class="list-unstyled">
            <li><i class="fa fa-fw fa-fire"></i>Nebezpečný odpad</li>
            <li><i class="fa fa-fw fa-battery-full"></i>Elektro</li>
            <li><i class="fa fa-fw fa-database"></i>Tuk</li>
            <li><i class="fa fa-fw fa-trash"></i>Komunální odpad</li>
            <li><i class="fa fa-fw fa-recycle"></i>Plast</li>
        </ul>
        <hr />
        <h3 class="filter-label">Typy sběrných míst</h3>
        <ul class="list-unstyled">
            <li><i class="fa fa-fw fa-trash"></i>Sběrný dvůr</li>
            <li><i class="fa fa-fw fa-trash"></i>Kontejner</li>
            <li><i class="fa fa-fw fa-fire"></i>Skládka</li>
        </ul>
        <hr />
        <form>
            <div class="form-group">
                <label for="formControlRange">V maximální vzdálenosti (km)</label>
                <input type="range" class="form-control-range" id="formControlRange">
            </div>
        </form>
    </div>
    <div class="col-5">
        Map
        @*
        @{
            foreach (var location in locations)
            {
                <div>
                    <div>@location.Id @location.Name @location.TypeOfDisposalLocation</div>
                    @foreach (var wasteType in location.AcceptingTypeOfWaste)
                    {
                        <div>@wasteType</div>
                    }
                    <div>@location.LatLong.latitude @location.LatLong.longitude</div>
                </div>
            }
        }*@
    </div>
    <div class="col-4">
        Detail
    </div>
</div>
